
@import url('https://fonts.googleapis.com/css2?family=Aubrey&display=swap');

#topdiv {
    background-color: #660000;
    font-family: Impact;
    color: #f2f2f2;
  }
  #title {
    font-family: Brush Script Std, Brush Script MT, cursive;
    font-size: 40px;
    text-align: center;
    font-family: 'Aubrey', cursive;
  }
  #image {
    display: block;
    position: relative;
    max-width: 40%;
    margin: auto;
    min-height: 100px;
    max-height: 350px;
  }
  #img-div {
    background-color: whitesmoke;
  }
  #img-caption {
    color: whitesmoke;
    margin-top: -20px;
    margin-right: 20px;
    float: right;
    text-align: center;
  }

  #main {
    background-color: whitesmoke;
  }

  /* #tribute-info {
  }

  #list {
    align-content: center;
    max-width: 500px;
  } */

  .main-content {
    text-align: center;
  }

  .dates {
    font-weight: bold;
  }

  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }

